name: Build & Test (NHS Portal)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build_test:
    runs-on: windows-latest

    defaults:
      run:
        shell: pwsh
        working-directory: projects/nhs-appointment-case-management-system/system/backend/nhs-portal

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore .\NhsPortal.sln

      - name: Build
        run: dotnet build .\NhsPortal.sln --configuration Release --no-restore

      - name: Test
        run: dotnet test .\NhsPortal.sln --configuration Release --no-build --verbosity normal
